<hgroup>
    <h1 class="site-title">
        <a href="http://william.xingyp.com/" title="William XING" rel="home">William XING</a>
    </h1>
    <h2 class="site-description">
        Articles for developers
    </h2>
</hgroup>
<nav id="site-navigation" class="main-navigation" role="navigation">
    <h3 class="menu-toggle">
        Menu
    </h3>
    <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
    <div class="nav-menu">
        <ul>
            <li>
                <a href="" title="">Home</a>
            </li>
            <li>
                <a href="" title="about">About</a>
            </li>
        </ul>
    </div>
</nav>