<header class="entry-header">
    <h1 class="entry-title">
        <a href="<%=post.slug %>" title="<%=post.slug %>" class="internal-link"><%=post.title %></a>
    </h1>
    <!-- .comments-link -->
</header>
<!-- .entry-header -->
<div class="entry-content">
    <p>
    	<% %>
        <%=post.content %>
        <% if (more) { %>
        <a href="<%=post.slug %>" title="<%=post.slug %>" class="internal-link">Continue reading →</a>
        <% } %>
    </p>
</div>
<!-- .entry-content -->
<footer class="entry-meta">
    This entry was 
    <% if (post.tags && post.tags.length > 0) { %>
        tagged
        <%=(_.map(post.tags, function(tag) { 
            return '<a href="tag/' + tag + '" rel="tag">' + tag + '</a>'
            })).join(', ') %>
        and
    <% } %>
    posted on
    <%=post.date %>
</footer>
<!-- .entry-meta -->